# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.pdb
*.idb
*.tlog
*.db
*.ilk
*.aps
*.opendb
*.tlog
*.lastbuildstate
*.db
*.iobj
.vs/NYP_Framework/v14/.suo
NYP_Framework.VC.db
*.db
